@font-face {
  font-family: 'PragmaticaBook-Reg';
  src: url('PragmaticaBook-Reg.eot');
  src: url('PragmaticaBook-Reg.woff2') format('woff2'),
       url('PragmaticaBook-Reg.woff') format('woff'),
       url('PragmaticaBook-Reg.ttf') format('truetype'),
       url('PragmaticaBook-Reg.svg#PragmaticaBook-Reg') format('svg'),
       url('PragmaticaBook-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

